APP_NAME=Laravel
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:CHANGE_ME
APP_URL=https://example.com
APP_BASE_PATH=/var/www/laravel
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Локальный порт для `make up-prod`
APP_PORT=8050

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=laravel-postgres-rr
DB_PORT=5432
DB_DATABASE=laravel_prod
DB_USERNAME=postgres
DB_PASSWORD=change_me

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=redis
QUEUE_CONNECTION=redis
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

REDIS_CLIENT=phpredis
REDIS_HOST=laravel-redis-rr
REDIS_PORT=6379
REDIS_PASSWORD=

OCTANE_SERVER=roadrunner
RR_HTTP_NUM_WORKERS=4
RR_HTTP_MAX_JOBS=500
RR_LOG_LEVEL=warn
